.detail {
  border: 1px solid black;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.options button {
  height: 50px;
  width: 100px;
  border: 0px;
  color: white;
  font-size: 25px;
  opacity: .8;
}

.options button:first-child {
  background-color: gray;
}

.options button:last-child {
  background-color: green;
}

.options button:hover {
  cursor: pointer;
  opacity: 1;
}

.title {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info div {
  display: flex;
  align-items: center;
  margin: 0px 0px;
}

.info p, h4 {
  margin: 5px 5px;
}

.story h4, p {
  margin: 10px 0px;
}
